{% extends 'base.html.twig' %}

{% block titrePage %}

    {% if action == 'ajouter' %}
        Ajout d'une entreprise

    {% else %}
        Modification d'une entreprise
    {% endif %}

{% endblock %}

{% block contenuPage %}
    
    Saisissez les caractéristiques de l'entreprise 
    {{ form_start(vueFormulaire, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(vueFormulaire.nom,{'attr':{'placeholder':'Nom de entreprise'} } )}}
    {{ form_row(vueFormulaire.activiter,{'attr':{'placeholder':'Activité de entreprise'} } )}}
    {{ form_row(vueFormulaire.adresse,{'attr':{'placeholder':'Adresse de entreprise'} } )}}
    {{ form_row(vueFormulaire.lienSiteWeb,{'attr':{'placeholder':'Lien vers le site web de entreprise'} } )}}

    <button type="submit" class="btn btn-dark" > Enregistrer </button>

    {{ form_end(vueFormulaire)}}

{% endblock %}